@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');
@import "runes.css";
@import "rune-settings.css";

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.editable .rollable:hover,
.editable .rollable:focus {
  color: #000;
  text-shadow: 0 0 3px rgba(255, 0, 0, 0.45);
  cursor: pointer;
}

.locked .rollable,
.locked .rollable:hover,
.locked .rollable:focus,
.locked a.rollable:hover,
.locked a.rollable:focus {
  text-shadow: none;
  cursor: default;
}
.questworlds .locked .items-list .item-controls {
  display: none;
}
.questworlds .locked .sheet-header input:hover {
  background-color: inherit;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

/* Styles limited to questworlds sheets */

.questworlds .item-form {
  font-family: "Roboto", sans-serif;
}

.questworlds .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.questworlds.sheet nav.sheet-tabs {
  margin-top: 0;
  margin-bottom: 10px;
}

.questworlds .character .sheet-header .profile-img {
  margin-left: auto;
  border-color: rgb(141, 139, 127);
}

.questworlds .character .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  height: 60px;
  margin-right: 0;
}

.questworlds .npc .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.questworlds .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.questworlds.item .sheet-header .header-fields h1 {
  font-size: 1.2em;
  margin-top: 4px;
  margin-bottom: 0;
  border: 0;
}
.questworlds.item .sheet-header {
  overflow-x: auto;
  padding-bottom: 6px;
  border-bottom: 1px solid rgb(181, 179, 164);
  min-height: 64px;
}
.questworlds.item .sheet-header .nowrap {
  white-space: nowrap;
}
.questworlds .placeholder {
  color: rgb(181, 179, 164);
}


/* BEGIN ability variant display and select control */
.questworlds.sheet.item .ability-variant {
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight:bold;
}
.questworlds.sheet.item .ability-variant select {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  background-color: rgba(0,0,0,0);
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight:bold;
  height: fit-content;
  cursor:pointer;
}
.questworlds.sheet.item .ability-variant select:hover {
  background-color: rgba(0,0,0,0.05);
}
.questworlds.sheet.item .ability-variant .select-wrapper {
  position: relative;
  width: fit-content;
  background: none;
  margin: 0;
}
.questworlds.sheet.item .ability-variant .select-wrapper::after {
  content: "\0232A";  /* Unicode "RIGHT-POINTING ANGLE BRACKET" */
  font-family: 'Noto Sans JP', sans-serif;  /* needed for display */
  font-size: 90%;
  top: 50%;
  right: -0.6ex;
  transform: translateY(-50%);
  color: rgba(0,0,0,0.07);
  position: absolute;
  height: fit-content;
  pointer-events: none; /* allow click-through */
}
.questworlds.sheet.item .ability-variant .select-wrapper:hover::after {
  color: rgba(0,0,0,0.4);
}
.questworlds.sheet.item .ability-variant select:focus {
  /* override foundry style */
  box-shadow: none;
  outline: slategrey solid 1px; /* keep a focus outline for accessibility */
}
/* END ability variant display and select control */


.questworlds .sheet-header h1.charname {
  padding: 0px;
  margin: 0;
  border-bottom: 0;
}

.questworlds .sheet-header .charconcept {
  font-weight: bold;
}

.questworlds .sheet-header input {
  background-color: inherit;
  border-width: 0;
  border-style: none;
}
.questworlds .sheet-header input:hover {
  background-color: rgba(0,0,0,0.05);   /* show Foundry's default form field shading on hover */
}
.questworlds .sheet-header input:focus {
  box-shadow: none; /* get rid of red shadow */
  background-color: rgba(0,0,0,0.05);
}

.questworlds .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.questworlds.item .sheet-header h1 {
  font-size: inherit;   /* TODO: this is too big */
}
.questworlds.item .sheet-header h1 span,
.questworlds.item .sheet-header h1 input {
  height: 1.4em;
}
.questworlds.item .sheet-header h1 input {
  margin: 0;
  /* width: auto; */
  padding: 0;
}


/* item sheet rating inputs section */
.questworlds.item.sheet .rating-inputs {
  margin-top: 1em;
  margin-bottom: 1ex;
  position: relative;
}
.questworlds.sheet.item .rating-inputs label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0,-75%);
}
.questworlds.item.sheet .rating-inputs .flexrow {
  align-items: center;
  display: flex;
  font-size: 3em;
}
.questworlds.sheet.item .rating-inputs span {
  flex: 0;
}
.questworlds.sheet.item .rating-inputs span:first-child {
  margin-left: auto;
}
.questworlds.sheet.item .rating-inputs span:last-child {
  margin-right: auto;
}
.questworlds.sheet.item .rating-inputs .mastery-symbol {
  width: fit-content;
  padding: 0 0.5ex;
}
.questworlds.sheet.item .rating-inputs input {
  width: 3ch;
  height: 2.5ch;
  margin: 0;
  background-color: rgba(255,255,255,0.1);
  text-align: center;
}
/**/

.questworlds .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.questworlds.actor .sheet-body .tab,
.questworlds.actor .sheet-body .tab.biography .grid,
.questworlds.actor .sheet-body .tab.biography .grid section,
.questworlds.actor .sheet-body .tab .editor-content {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}


.questworlds.actor .npc .sheet-body .public,
.questworlds.actor .npc .sheet-body .private {
  height: 100%;
}
.questworlds.actor .npc .sheet-body .public h2,
.questworlds.actor .npc .sheet-body .private h2 {
  flex: 0;
}
.questworlds.actor .sheet-body .editor {
  min-height: 32px;
}

.questworlds.actor .sheet-body .tab.biography .grid {
  margin-top: 0;
  margin-bottom: 0;
}

.questworlds.actor .sheet-body .tab.biography h2 {
  flex: 0;
}


.questworlds .tox {
  background-color: inherit;
}

.questworlds .tox .tox-editor-container {
  background-color: rgba(255,255,255,.2);
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
}

.questworlds .tox .tox-edit-area {
  padding: 0 8px;
}

.questworlds .columns-2 {
  columns: 2;
  column-fill: auto;
}
.questworlds.actor .character .sheet-body .main .abilities {
  padding-bottom: 40px;
}
.questworlds.item .sheet-body .abilities {
  margin-top: 0.6em;
}

.questworlds .sheet-body .abilities ol {
  /* prevent scrollbar flash during GSAP "slideup" animations */
  overflow: visible;
}

.questworlds .sheet-body .abilities ol>li.item {
  padding-left: 2px;
}
.questworlds .sheet-body .abilities ol li.items-header {
  padding-left: 0;
}

.questworlds .character .sheet-body .abilities ol.items-list>li.item {
  break-inside: avoid;
}
.questworlds .character .sheet-body .abilities #abilities-header {
  column-span: all;
}

.questworlds .character .sheet-body .abilities .flaws-list {
  min-height: 61px;
}

/* indent nested lists in the abilities view... */
.questworlds .sheet-body .abilities ol ol,
.questworlds .sheet-body .abilities ol ol ol,
.questworlds .sheet-body .abilities ol ol ol ol,
.questworlds .sheet-body .abilities ol ol ol ol ol,
.questworlds .sheet-body .abilities ol ol ol ol ol ol {
  padding-left: 1em;
}
/* ... except for the first list level under a Magic Group */
.questworlds .sheet-body .abilities ol li.magic-group > ol {
  padding-left: 0;
}


.questworlds .resources.footer {
  border-top-style: solid;
  border-top-color: rgb(181, 179, 164);
  border-top-width: 1px;
  background-color: rgb(181, 179, 164); /* fallback */
  background-image: url("/ui/parchment.jpg");
  background-repeat: repeat;
  background-size: auto;

  margin-top: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 22px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.questworlds .resource-label {
  font-weight: bold;
}

.questworlds .resources.footer .resource input {
  flex: 1;
  width: 4em;
  height: 1.4em;
}


.questworlds .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.questworlds .items-header > * {
  font-size: 14px;
  text-align: center;
}

.questworlds .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.questworlds .items-list,
.questworlds .breakouts-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}

.questworlds .items-list .item-list,
.questworlds .breakouts-list .breakout-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.questworlds .items-list .item-name,
.questworlds .breakouts-list .breakout-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  overflow: auto;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.questworlds.sheet.actor .breakouts-list .breakout-name,
.questworlds.sheet.actor .item .description {
  min-height: 20px;
}


.questworlds.sheet.item .breakouts-list .breakout-name {
  margin-left: 6px;
  min-height: 20px;
  border-bottom: 1px;
}

.questworlds .items-list .item-name h3,
.questworlds .items-list .item-name h4,
.questworlds .breakouts-list .breakout-name h3,
.questworlds .breakouts-list .breakout-name h4 {
  margin: 0;
  margin-top: 7px;
  margin-bottom: 7px;
  overflow-x: auto;
}

.questworlds .breakouts-list .breakout-name h3,
.questworlds .breakouts-list .breakout-name h4,
.questworlds .item .description h4 {
  margin-top: 0;
}

.questworlds .items-list .item-controls,
.questworlds .breakouts-list .breakout-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.questworlds .items-list .item-controls a,
.questworlds .breakouts-list .breakout-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 4px;
}

.questworlds .items-header .item-controls a {
  padding: 4px 6px;
  margin-right: 2px;
}


.questworlds .items-list .item,
.questworlds .breakouts-list .breakout {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  border-bottom: 1px solid #c9c7b8;
}

.questworlds .breakouts-list .item,
.questworlds .breakouts-list .breakout {
  border-bottom: none;
}

.questworlds .items-list .item:last-child,
.questworlds .breakouts-list .breakout:last-child {
  border-bottom: none;
}

.questworlds .items-list .item .item-name,
.questworlds .breakouts-list .breakout .breakout-name {
  color: #191813;
}

.questworlds .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.questworlds .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.questworlds .items-list .item.items-header,
.questworlds .items-list .item.items-header:last-child {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.questworlds .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}

.questworlds .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.questworlds .item-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}

.questworlds .effects .item .effect-source,
.questworlds .effects .item .effect-duration,
.questworlds .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.questworlds .effects .item .effect-controls {
  border: none;
}


.questworlds.sheet.item .breakout-body:hover {
  background-color: rgba(0,0,0,0.05);
}

/* PC sheet art gallery */
.questworlds.actor .character .tab.art ol.gallery {
  list-style: none;
  margin: 0;
  padding: 0 5px;
  display: flex;
  flex-flow: row wrap;
}

.questworlds.actor .character .tab.art ol.gallery li figcaption {
  text-align: center;
  font-style: italic;
  color:rgb(0, 0, 0, 0.7);
}
.questworlds.actor .character .tab.art ol.gallery li figcaption input,
.questworlds.actor .character .tab.art ol.gallery li figcaption div.nice {
  text-align: center;
  width: 100%;
  max-width: 200px;
  margin: 0;
  padding: 1px 3px;
  border: 1px rgba(0,0,0,0);
  min-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .questworlds.actor .character .tab.art ol.gallery li figcaption div.nice.placeholder {
  color: 
} */
.questworlds.actor .character .tab.art ol.gallery li figure {
  margin: 0;
}
.questworlds.actor .character .tab.art ol.gallery li {
  margin: 20px 15px 0;
}

.questworlds.actor .character .tab.art ol.gallery li.art {
  position: relative;
}
.questworlds.actor .character .tab.art ol.gallery li.art .controls {
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  margin: 3px;
  padding: 0 4px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0, 0.1);
}
.questworlds.actor .character .tab.art ol.gallery li.art:hover .controls {
  visibility: visible;
}
.questworlds.actor .character .tab.art ol.gallery li.art .controls li {
  margin: 6px 0;
  padding: 0;
}

.questworlds.actor .character.editable .tab.art ol.gallery li.art img:hover {
  cursor: grab;
}
.questworlds.actor .character.editable .tab.art ol.gallery li.art:-moz-drag-over {
  box-shadow: 0 0 14px rgb(255, 0, 0, 0.45);
  /* opacity: 0.5; */
}


.questworlds.actor .character .tab.art ol.gallery li.control.add {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 0;
  background-color: rgba(165, 134, 79, 0.12);
  /* border:thin solid rgb(36, 36, 36); */
  border-radius: 30px;
  box-shadow: inset 1px 1px 2px rgb(0, 0, 0, 0.5);
}
.questworlds.actor .character .tab.art ol.gallery li.control.add a.button {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-image: url("/ui/parchment.jpg"); */
}
.questworlds.actor .character .tab.art ol.gallery li.control.add a.button i.fas {
  font-size: 90px;
  color: rgba(150, 134, 102, 0.40);
  /* text-shadow: 1px 1px 1px rgb(0,0,0,0.05); */
  margin: 50px;
  padding: 5px 10.625px;
  width: 100px;
  height: 100px;
  background-color:rgba(255, 255, 255, 0.17);
  /* border: thin solid green; */
  border-radius: 20px;
  box-shadow: 1px 1px 3px rgb(0, 0, 0, 0.5);
}
.questworlds.actor .character .tab.art ol.gallery li.control.add a.button:hover {
  text-shadow: none;
}
.questworlds.actor .character .tab.art ol.gallery li.control.add a.button:hover i.fas {
  box-shadow: 1px 1px 3px rgb(0, 0, 0, 0.5), 0 0 40px 10px rgb(255,244,203,0.65);
}

/* /gallery */

  
.questworlds.sheet .menu {
  display: none;
  opacity: 0;
}

.questworlds.sheet .menu.active {
  display: block;
  position: fixed;
  top: 0;   /* fallback position */
  left: 0;  /* fallback position */
  /* border: 1px solid cornflowerblue; */
  background-image: url("/ui/parchment.jpg");
  background-color: rgba(0,0,0,1);
  width: max-content;
  padding: 0 0.1em;
  box-shadow: 0 0 15px black; /* rgb(68, 67, 62); */
  border-radius: 0 6px 6px 6px;
  z-index: 1000;
}
.questworlds.sheet .menu.active a {
  font-weight: normal;
  display: block;
  /* border: 1px solid lightgreen; */
  border-bottom: 1px solid rgb(201,199,184);
  text-align: left;
  padding: 0.5rem 0;
  /* font-weight: bold; */
  font-size: 0.8rem;
}
.questworlds.sheet .menu.active a:last-child {
  border-bottom: none;
}
.questworlds.sheet .menu.active a:hover {
  /* text-shadow: 0 0 8px black; */
  text-shadow: none;
}
.questworlds.sheet .menu.active a>i {
  margin-right: 0.5rem;
  /* border: 1px solid red; */
  width: 1.3em;
  text-align: center;
}
.questworlds.sheet .menu.active a::after {
  content: attr(title);
  /* display: flex; */
}

/* for the javascript input sizer in FieldHelpers.AdjustSizeToContent() */
.questworlds.item.sheet .hidden-sizer {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1px;
  visibility: hidden;
  z-index: -1000;
  pointer-events: none;
}


.questworlds .help,
.system-questworlds .help {
  /* text-decoration: underline dotted black ; */
  vertical-align: super;
  font-weight: normal;
  font-size: 0.8em;
  margin: 0 0.1em;
  cursor: help;
}

.questworlds .nowrap,
.system-questworlds .nowrap {
  white-space: nowrap;
}


/* xp bar */
.questworlds.actor.sheet .character .xp-bar-wrapper {
  align-self: center;
}
.questworlds.actor.sheet .character .xp-bar-wrapper .xp-bar-meter,
.questworlds.actor.sheet .character .xp-bar-wrapper .xp-bar-scale {
  gap: 0px;
}
.questworlds.actor.sheet .character .xp-bar-wrapper .xp-bar-meter {
  height: 8px;
  margin: 3px;
  border: 1px black solid;
  border-radius: 5px;
  overflow: hidden;
}
.questworlds.actor.sheet .character .xp-bar-wrapper .xp-bar-meter .tick {
  position: relative;
  background-color: rgba(0,0,0,0.05);
  border-left: 1px solid rgba(0,0,0,0.2);
}
.questworlds.actor.sheet .character .xp-bar-wrapper .xp-bar-meter .tick.filled {
  width: 100%;
  height: 100%;
  background-color: rgba(34, 139, 34, 0.7);
  border-left: 1px solid rgba(0,0,0,0.4);
}
.questworlds.actor.sheet .character .xp-bar-wrapper .xp-bar-meter .tick.filled + .tick.empty {
  border-left: 1px solid black;
}
.questworlds.actor.sheet .character .xp-bar-wrapper .xp-bar-meter .tick:first-child {
  border-left: none;
}
.questworlds.actor.sheet .character .xp-bar-wrapper .xp-bar-meter .tick:last-child {
  border-right: none;
}
.questworlds.actor.sheet .character .xp-bar-wrapper .xp-bar-meter .tick:last-child {
  /* Force grid algorithm to round up pixels of track width instead of down */
  /* Otherwise there is a ~2px gap (it varies with grid container width) */
  width: 101%;
}

/* end xp bar */

/* advances indicator */

.questworlds.actor.sheet .character .advances {
  --size: 26px;
  width: var(--size);
  line-height: var(--size);
  flex-basis: var(--size);
  /* height: 24px; */
  /* float: left; */
  margin-right: 1px;
  background-image: url(/systems/questworlds/assets/levelup-empty.svg);
  background-repeat: no-repeat;
  background-size: var(--size) var(--size);
  font-size: calc(var(--size) / 2);
  color: rgb(36, 36, 36);
  font-weight: bold;
  text-align: center;
  margin: 5px 5px;
  filter: drop-shadow(0px 0px 3px white);
}
/* end advances indicator */


/* ability editing dialogs */
.system-questworlds .dialog-content .edit-ability {
  margin-bottom: 10px;
}
.system-questworlds .dialog-content .edit-ability h2 input {
  border: 0;
  background-color: inherit;
}
.system-questworlds .dialog-content .edit-ability h2 input:hover {
  border: 0;
  background-color: rgba(0, 0, 0, 0.05);
}
.system-questworlds .dialog-content .edit-ability h2 input:focus {
  box-shadow: none;
  outline: slategrey solid 1px; /* keep a focus outline for accessibility */
}
.system-questworlds .dialog-content .edit-ability .resource-label {
  font-weight: bold;
}
.system-questworlds .dialog-content .edit-ability .rating-inputs {
  font-size: 1.4rem;
  text-align: center;
}
.system-questworlds .dialog-content .edit-ability .rating label {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.system-questworlds .dialog-content .edit-ability .rating-inputs>span {
  width: 2ch;
  margin: 0 4px;
  flex: 0;
}
.system-questworlds .dialog-content .edit-ability .rating-inputs>span>span {
  height: 100%;
}
.system-questworlds .dialog-content .edit-ability .rating-inputs input {
  width: 3.6ch;
  min-width: 3.6ch;
  flex: 0;
}
.system-questworlds .dialog-content .edit-ability .rating-inputs input:first-child {
  margin-left: auto;
}
.system-questworlds .dialog-content .edit-ability .rating-inputs input:last-child {
  margin-right: auto;
}


/* contest chat cards */
/* .system-questworlds #chat-log .chat-contest {

} */
.system-questworlds #chat-log .chat-contest .header {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  /* border-bottom: 2px groove rgba(39, 39, 39, 0.2); */
  border-bottom: 1px solid rgba(39, 39, 39, 0.2);
  margin-bottom: 4px;
  padding-bottom: 2px;
}
.system-questworlds #chat-log .chat-contest .header .title {
  text-transform: capitalize;
  font-variant: small-caps;
  /* font-style: italic; */
  font-size: 0.9em;
  color: rgba(0,0,0,0.8);
  display: block;
}
.system-questworlds #chat-log .chat-contest .header .vs {
  font-size: 0.8em;
  font-style: italic;
  font-weight: normal;
  color:rgba(39, 39, 39, 0.5);
}
.system-questworlds #chat-log .chat-contest .header .vs::before,
.system-questworlds #chat-log .chat-contest .header .vs::after {
  content: ' — ';
}
.system-questworlds #chat-log .chat-contest .options {
  border: 1px solid rgba(39, 39, 39, 0.2);
  border-radius: 4px;
  background-color: rgba(255,255,255,0.17);
  padding: 1ex;
}
.system-questworlds #chat-log .chat-contest .tactic .options div,
.system-questworlds #chat-log .chat-contest .difficulty .options div {
  margin-bottom: 5px;
}
.system-questworlds #chat-log .chat-contest .tactic .options div {
  /* vertical-align: middle; */
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.system-questworlds #chat-log .chat-contest .tactic .options .benefits ol {
  list-style-type: none;
  padding-left: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  font-size: 0.9em;
}
.system-questworlds #chat-log .chat-contest .tactic .options .benefits ol li {
  /* display: inline; */
  background-color: rgb(0,0,0,0.03);
  border: 1px solid rgb(169, 169, 169);
  color: rgb(92, 92, 92);
  border-radius: 3px;
  padding: 2px;
  margin: 2px;
  box-shadow: inset 1px 1px 0px rgb(0,0,0,0.5);
}
.system-questworlds #chat-log .chat-contest .tactic .options .benefits ol li.active {
  background-color: rgb(215,228,232);
  border: 1px solid rgb(63,89,136);
  color: rgb(63,89,136);
  box-shadow: 0 0 4px rgb(169, 169, 169);
  box-shadow: 1px 1px 2px rgb(0,0,0,0.5);
}
.system-questworlds #chat-log .chat-contest .tactic .options .benefits ol li .fas,
.system-questworlds #chat-log .chat-contest .tactic .options .benefits ol li .far {
  position: normal;
  /* color: rgb(169, 169, 169); */
  font-size: 0.8em;
}
.system-questworlds #chat-log .chat-contest .tactic .options .benefits ol li input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  top: 0;
  width: 0.7em;
  height: 0.7em;
  border: 1px solid gray;
  border-radius: 30%;
  background-color: white;
  /* Adjusts the position of the checkboxes on the text baseline */
  /* vertical-align: -2px; */
  /* Set here so that Windows' High-Contrast Mode can override */
  color: green;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: none;
}
.system-questworlds #chat-log .chat-contest .tactic .options .benefits ol li label {
  cursor: pointer;
}
.system-questworlds #chat-log .chat-contest .tactic .options .benefits ol li label:disabled {
  cursor: default;
}
.system-questworlds #chat-log .chat-contest .tactic .options .benefits ol li input[type="checkbox"]::before {
  color: black;
  content: "✔";
  content: "✘"; /* ✗ or ✘ */
  position: absolute;
  font-size: 0.7em;
  right: 0;
  top: -0.1em;
  visibility: hidden;
}
.system-questworlds #chat-log .chat-contest .tactic .options .benefits ol li input[type="checkbox"]:checked::before {
  /* Use `visibility` instead of `display` to avoid recalculating layout */
  visibility: visible;
}
.system-questworlds #chat-log .chat-contest .tactic .options .benefits ol li input[type="checkbox"]:disabled {
  /* border-color: black; */
  background: #ddd;
  color: gray;
}
.system-questworlds #chat-log .chat-contest .tactic .options .situational-modifiers label {
  margin-top: auto;
  margin-bottom: auto;
}
.system-questworlds #chat-log .chat-contest .tactic .options .situational-modifiers input {
  width: 2.6em;
  max-width: 2.6em;
  min-width: 2.6em;
  /* margin-right: auto; */
  margin-left: 1ex;
  flex: 0;
  height: 1.4em;
  text-align: center;
}
.system-questworlds #chat-log .chat-contest .dice-results {
  /* border: 1px solid black; */
  margin-top: 1em;
  /* padding-top: 1ex; */
  /* border-top: 1px solid rgb(181, 179, 164); */
}
.system-questworlds #chat-log .chat-contest .dice-results div {
  margin-top: 5px;
}
.system-questworlds #chat-log .chat-contest .dice-results .ratings-faceoff {
  /* flex: 1; */
  font-size: 0.9rem;
  font-weight: bold;
}
.system-questworlds #chat-log .chat-contest .dice-results .ratings-faceoff .rating {
  margin: 0 auto;
  flex: 0;
  white-space: nowrap;
  position: relative;
}
.system-questworlds #chat-log .chat-contest .dice-results .dice-faceoff {
  /* border: inherit; */
  /* width: 100%; */
  flex: 1;
  background-color: inherit;
  /* border: inherit; */
  /* padding: 10px 0; */
  margin-bottom: 1ex;
}
.system-questworlds #chat-log .chat-contest .dice-results .dice-faceoff .contestant {
  border: 2px groove rgb(154, 99, 99);
  padding: 0 10px 10px;
  background-color: burlywood;
  /* background-color: rgb(100, 68, 42) */
  background-color: rgba(248, 170, 105, 0.15);
  background: radial-gradient(circle, rgb(233, 209, 190, 0.3) 0%, 70%, rgb(136, 102, 74, 0.3) 95%, rgb(100, 68, 42, 0.3) 90%);
  border-radius: 6px;
}
.system-questworlds #chat-log .chat-contest .dice-results .dice-faceoff .roll {
  /* border: inherit; */
  /* position: relative; */
  width: 48px;
  line-height: 48px;
  /* height: 24px; */
  /* float: left; */
  margin-right: 1px;
  background-image: url(/icons/svg/d20-grey.svg);
  background-repeat: no-repeat;
  background-size: 48px 48px;
  font-size: 23px;
  color: rgb(36, 36, 36);
  font-weight: bold;
  text-align: center;
  margin: 0.8em auto 0.4em;
  filter: drop-shadow(0px 0px 20px white);
}
.system-questworlds #chat-log .chat-contest .dice-results .dice-faceoff .roll.crit {
  /* color: darkgreen; */
  color: rgb(24,82,11);
  /* filter: sepia(0.5) hue-rotate(60deg) drop-shadow(0px 0px 20px white); */
  filter: sepia(0.6) hue-rotate(60deg) drop-shadow(0px 0px 20px white) brightness(1.02);
}
.system-questworlds #chat-log .chat-contest .dice-results .dice-faceoff .roll.miss {
  color: rgb(81, 24, 11);
  filter: sepia(0.6) hue-rotate(333deg) drop-shadow(0px 0px 20px white) brightness(0.98);
}
.system-questworlds #chat-log .chat-contest .dice-results .dice-faceoff .successes {
  /* border: inherit; */
  text-align: center;
  font-size: 1rem;
  text-shadow: 0 0 20px white;
  /* margin-top: 1em; */
}
.system-questworlds #chat-log .chat-contest .dice-results .divider {
  /* border: inherit; */
  flex: 0;
  /* margin: 0 20px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 1ex;
  min-width: 1.6rem;
  /* max-width: 1.6rem; */
}
.system-questworlds #chat-log .chat-contest .dice-results .dice-faceoff .divider .vs {
  /* border: inherit; */
  font-style: italic;
  font-size: 1.2rem;
  /* width: 1.8rem; */
  /* min-width:fit-content; */
  /* min-width: 1.2rem; */
}
.system-questworlds #chat-log .chat-contest .dice-results .outcome {
  /* border: inherit; */
  border: 2px ridge rgb(201,199,184);
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 6px;
  border-radius: 3px;
  /* text-shadow: 0 0 5px lightgrey; */
  /* text-shadow: 0 0 20px white; */
  text-shadow: 0 0 20px white, 0 0 8px rgba(211,211,211,0.5);
}
.system-questworlds #chat-log .chat-contest .dice-results .victory {
  /* background-color: greenyellow; */
  /* color: green; */
  color: rgb(0, 82, 0);
  /* circular background color gradient instead?? */
  background: rgb(138,214,150);
  background: radial-gradient(circle, rgba(138,214,150,1) 0%, rgba(62,154,70,1) 72%, rgba(58,131,48,1) 86%);
}
.system-questworlds #chat-log .chat-contest .dice-results .defeat {
  background-color: palevioletred;
  /* color: darkred; */
  color: rgb(70, 26, 26);
  /* background: rgb(138,214,150); */
  background: radial-gradient(circle, rgb(212, 150, 150) 0%, 38%, rgb(168, 84, 84) 62%, rgb(151, 57, 57) 76%, rgb(77, 33, 33) 95%);
}
.system-questworlds #chat-log .chat-contest .dice-results .tie {
  /* background-color: burlywood; */
  color: rgb(87, 72, 54);
  background: radial-gradient(circle, rgb(214, 194, 138) 0%, rgb(182, 153, 91) 72%, rgb(173, 133, 71) 86%);
}
.system-questworlds #chat-log .chat-contest .dice-results .outcome-degrees {
  text-align: center;
  color: rgba(0,0,0,0.4);
  font-style: italic;
  font-size: 0.85em;
  margin-top: 5px;
  /* margin: 1ex; */
}
.system-questworlds #chat-log .chat-contest .assured-notice {
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  padding: 5px;
}
.system-questworlds #chat-log .chat-contest .dice-results .benefits-lost {
  border-top: 1px solid grey;
  border-top: 1px solid rgb(201,199,184);
  border-top: 1px solid rgb(39,39,39,0.4);
  margin-top: 1ex;
  padding-top: 5px;
}
.system-questworlds #chat-log .chat-contest .dice-results .benefits-lost .flex0,
.system-questworlds #chat-log .chat-contest .dice-results .benefits-lost .flex1 {
  margin-top: 0;
}
.system-questworlds #chat-log .chat-contest .dice-results .benefits-lost .alert {
  /* position: relative; */
  border: 1px solid rgb(39,39,39,0.6);
  border-radius: 50% 3px 3px 50%;
  background-color: white;
  width: 23px;
  min-width: 23px;
  height: 23px;
  padding: 2px;
  text-align: center;
  margin-right: 5px;
}
.system-questworlds #chat-log .chat-contest .dice-results .benefits-lost .alert .icon {
  /* position: relative; */
  /* height: 100%; */
  font-size: 17px;
  color: cornflowerblue;
}
.system-questworlds #chat-log .chat-contest .dice-results .benefits-lost .title {
  font-weight: bold;
  /* font-style: italic; */
  /* font-variant: small-caps; */
  /* font-size: 1.1em; */
  color: rgb(42, 42, 42);
  display: block;
}
.system-questworlds #chat-log .chat-contest .dice-results .benefits-lost .title::after {
  content: ':'
}
.system-questworlds #chat-log .chat-contest .dice-results .benefits-lost .lost-benefit::after {
  content: ' •';
}
.system-questworlds #chat-log .chat-contest .dice-results .benefits-lost .lost-benefit:last-child:after {
  content: '';
}
