@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import "runes.css";
@import "rune-settings.css";

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover,
.rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  /* margin: 10px 0; */
  margin: 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

/* Styles limited to questworlds sheets */

.questworlds .item-form {
  font-family: "Roboto", sans-serif;
}

.questworlds .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.questworlds.sheet nav.sheet-tabs {
  margin-top: 0;
  margin-bottom: 10px;
}

.questworlds .character .sheet-header .profile-img {
  margin-left: auto;
  border-color: rgb(141, 139, 127);
}

.questworlds .character .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  height: 60px;
  /* debug */
  /* height: 90px; */
  margin-right: 0;
}

.questworlds .npc .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.questworlds .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.questworlds.sheet.item .header-fields .ability-variant {
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight:bold;
}

.questworlds .sheet-header h1.charname {
  /* height: 50px; */
  padding: 0px;
  margin: 0;
  border-bottom: 0;
}

.questworlds .sheet-header .charconcept {
  font-weight: bold;
}

.questworlds .sheet-header input {
  background-color: inherit;
  border-width: 0;
  border-style: none;
}

.questworlds .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.questworlds .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.questworlds.actor .sheet-body {
  height: 450px;
}
.questworlds.actor .sheet-body .tab,
.questworlds.actor .sheet-body .tab.biography .grid,
.questworlds.actor .sheet-body .tab.biography .grid section,
.questworlds.actor .sheet-body .tab .editor,
.questworlds.actor .sheet-body .tab .editor-content,
.questworlds.actor .sheet-body .editor {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.questworlds.actor .sheet-body .tab.biography .grid {
  margin-top: 0;
  margin-bottom: 0;
}

.questworlds.actor .sheet-body .tab.biography .editor {
  height: 93%;
}


/* .actor .window-content {
  overflow-y: hidden;
}

.actor .sheet-body {
  overflow-y: auto;
} */

.questworlds .tox {
  background-color: inherit;
}

.questworlds .tox .tox-editor-container {
  background-color: rgba(255,255,255,.2);
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
}

/* .questworlds .tox .tox-toolbar__primary {
  background-color: inherit;
} */

.questworlds .tox .tox-edit-area {
  padding: 0 8px;
}

.questworlds.actor .character .sheet-body .main .abilities {
  padding-bottom: 48px;
  columns: 2;
}
.questworlds.item .sheet-body .abilities {
  margin-top: 0.6em;
}

.questworlds .sheet-body .abilities ol>li.item {
  padding-left: 2px;
}
.questworlds .sheet-body .abilities ol>li.items-header {
  padding-left: 0;
}

.questworlds .character .sheet-body .abilities ol.items-list>li.item {
  break-inside: avoid;
}
.questworlds .character .sheet-body .abilities #abilities-header {
  column-span: all;
}

/* .questworlds.sheet.actor .item .description, */
.questworlds .sheet-body .abilities ol ol,
.questworlds .sheet-body .abilities ol ol ol,
.questworlds .sheet-body .abilities ol ol ol ol,
.questworlds .sheet-body .abilities ol ol ol ol ol,
.questworlds .sheet-body .abilities ol ol ol ol ol ol {
  padding-left: 1em;
}

.questworlds .resources.footer {
  border-top-style: solid;
  border-top-color: rgb(181, 179, 164);
  border-top-width: 1px;
  background-color: rgb(181, 179, 164); /* fallback */
  background-image: url("/ui/parchment.jpg");
  /* background-image: url("/ui/denim.png"); */
  background-repeat: repeat;
  background-size: auto;

  margin-top: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 22px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.questworlds .resource-label {
  font-weight: bold;
}

.questworlds .resources.footer .resource input {
  flex: 1;
  width: 4em;
  height: 1.4em;
}


.questworlds .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.questworlds .items-header > * {
  font-size: 14px;
  text-align: center;
}

.questworlds .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.questworlds .items-list,
.questworlds .breakouts-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}

.questworlds .items-list .item-list,
.questworlds .breakouts-list .breakout-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.questworlds .items-list .item-name,
.questworlds .breakouts-list .breakout-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  overflow: auto;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.questworlds.sheet.item ol.breakouts-list {
  margin-top: 0.6em;
  padding-bottom: 1em;
}
.questworlds.sheet.item ol.breakouts-list ol {
  padding-bottom: 0;
}

.questworlds.sheet.actor .breakouts-list .breakout-name,
.questworlds.sheet.actor .item .description {
  min-height: 20px;
}

/* .questworlds.sheet.actor .item .description {
  margin-top: -4px;
} */


.questworlds.sheet.item .breakouts-list .breakout-name {
  margin-left: 6px;
  min-height: 20px;
  border-bottom: 1px;
}

.questworlds .items-list .item-name h3,
.questworlds .items-list .item-name h4,
.questworlds .breakouts-list .breakout-name h3,
.questworlds .breakouts-list .breakout-name h4 {
  margin: 0;
  margin-top: 7px;
  margin-bottom: 7px;
  overflow-x: auto;
}

.questworlds .breakouts-list .breakout-name h3,
.questworlds .breakouts-list .breakout-name h4,
.questworlds .item .description h4 {
  margin-top: 0;
}

.questworlds .items-list .item-controls,
.questworlds .breakouts-list .breakout-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.questworlds .items-list .item-controls a,
.questworlds .breakouts-list .breakout-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 4px;
}

.questworlds .items-header .item-controls a {
  padding: 4px 6px;
  margin-right: 2px;
}


.questworlds .items-list .item,
.questworlds .breakouts-list .breakout {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  border-bottom: 1px solid #c9c7b8;
}

.questworlds .breakouts-list .item,
.questworlds .breakouts-list .breakout {
  border-bottom: none;
}

.questworlds .items-list .item:last-child,
.questworlds .breakouts-list .breakout:last-child {
  border-bottom: none;
}

.questworlds .items-list .item .item-name,
.questworlds .breakouts-list .breakout .breakout-name {
  color: #191813;
}

.questworlds .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.questworlds .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.questworlds .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.questworlds .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}

.questworlds .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.questworlds .item-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}

.questworlds .effects .item .effect-source,
.questworlds .effects .item .effect-duration,
.questworlds .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.questworlds .effects .item .effect-controls {
  border: none;
}
