@font-face {
    font-family: "Core Runes";
    src: url("fonts/core-runes.ttf") format("truetype");
}

@font-face {
    font-family: "Glorantha Core Rune Font";
    src: url("fonts/GloranthaCoreRunes1.5.ttf") format("truetype");
}

.runes {
    font-family: "Glorantha Core Rune Font", "Core Runes", "Roboto", sans-serif;
}
