
.runes input::placeholder {
    color: #888;
}


/* fallback rune styling for bare tokens */
.questworlds .rune-token {
    font-family: "Roboto Condensed", sans-serif;
    font-variant: small-caps;
    color: darkslategrey;
    /* background-color: lightgrey; */
  }
