/* table     { display: table }
tr        { display: table-row }
thead     { display: table-header-group }
tbody     { display: table-row-group }
tfoot     { display: table-footer-group }
col       { display: table-column }
colgroup  { display: table-column-group }
td, th    { display: table-cell }
caption   { display: table-caption } */

#rune-settings {
    padding: 16px;
    /* max-width: 620px; */
}

#rune-settings .notes {
    max-width: 620px;
}

#rune-settings #built-in-runes {
    display: table;
    border: 1px solid black;
    margin-bottom: 2em;
}

#rune-settings #built-in-runes .table-controls {
    display: table-caption;
    text-align: right;
}
#rune-settings #built-in-runes .table-controls button {
    max-width: fit-content;
}

#rune-settings #built-in-runes .table-header {
    display: table-header-group;
    border: inherit;
}

/* #rune-settings #built-in-runes .table-header .header-set {
    display: table-row;
    border: inherit;
    background-color: greenyellow;
} */

#rune-settings #built-in-runes .table-header label {
    display: table-cell;
    border: inherit;
    /* max-width: 150px; */
    max-width: 100px;
}

#rune-settings #built-in-runes .table-header label div.font-name {
    overflow: hidden;
    text-align: center;
}
/* #rune-settings #built-in-runes .table-header label.index {
    max-width: fit-content;
} */

#rune-settings #built-in-runes ul {
    display: table-row-group;
    border: inherit;
}

#rune-settings #built-in-runes ul li {
    display: table-row;
    border: inherit;
}

#rune-settings #built-in-runes .index {
    display: table-cell;
    border: inherit;
    font-weight: bold;
    max-width: fit-content;
}

#rune-settings #built-in-runes ul li .form-fields {
    display: table-cell;
    border: inherit;
    max-width: 150px;
}
