<div class="breakout-name">
    <h4>
        <a class="rollable" data-roll-type="{{breakout.type}}">
            {{runes breakout.runes}}
            {{breakout.name}}
            <span class="fullrating">{{fullRating breakout}}</span>
        </a>
    </h4>
</div>
<div class="breakout-controls menu">
    <div class="bg">
        <a class="breakout-control breakout-edit" data-action="edit" data-breakout-id="{{breakout.id}}" title="{{localize 'QUESTWORLDS.EditAbility'}}"><i class="fas fa-edit"></i></a>
        <a class="breakout-control breakout-create" data-action="create" data-type="info" data-parent-id="{{breakout.id}}" title="{{localize 'QUESTWORLDS.AddInfo'}}"><i class="fas fa-plus"></i></a>
        <a class="breakout-control breakout-delete" data-action="delete" data-breakout-id="{{breakout.id}}" title="{{localize 'QUESTWORLDS.DeleteAbility'}}"><i class="fas fa-trash"></i></a>
    </div>
</div>
