<div class="breakout-name">
    <h4>
        <a class="rollable" data-roll-type="{{breakout.type}}">
            {{runes breakout.runes}}
            <strong>{{breakout.name}}</strong>
            <span class="fullrating">{{fullRating breakout}}</span>
        </a>
    </h4>
</div>
<div class="breakout-controls">
    <a class="breakout-control breakout-create" data-action="create" data-type="breakout" data-parent-id="{{breakout.id}}" title="{{localize 'QUESTWORLDS.AddBreakoutAbility'}}"><i class="fas fa-plus"></i></a>
    <a class="breakout-control breakout-create" data-action="create" data-type="info" data-parent-id="{{breakout.id}}" title="{{localize 'QUESTWORLDS.AddInfo'}}"><i class="fas fa-plus"></i></a>
    <a class="breakout-control breakout-edit" data-action="edit" data-breakout-id="{{breakout.id}}" title="{{localize 'QUESTWORLDS.Edit'}} {{localize 'QUESTWORLDS.Keyword'}}"><i class="fas fa-edit"></i></a>
    <a class="breakout-control breakout-delete" data-action="delete" data-breakout-id="{{breakout.id}}" title="{{localize 'QUESTWORLDS.Delete'}} {{localize 'QUESTWORLDS.Keyword'}}"><i class="fas fa-trash"></i></a>
</div>
