<div class="breakout-name">
    <h4>
        <a class="rollable" data-roll-type="{{breakout.type}}">
          {{breakout.name}}
          <span class="fullrating">{{fullRating breakout}}</span>
          ({{breakout.type}})
        </a>
    </h4>
</div>
<div class="breakout-controls">
    <a class="breakout-control breakout-edit" data-action="edit" data-breakout-id="{{breakout.id}}" title="Edit Item"><i class="fas fa-edit"></i></a>
    <a class="breakout-control breakout-delete" data-action="delete" data-breakout-id="{{breakout.id}}" title="Delete Item"><i class="fas fa-trash"></i></a>
</div>
