<div class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <h2>
            <input name="name" id="breakout-name" type="text" value="{{name}}"/>
        </h2>
    </header>
    <div class="flexrow">
        {{#if settings.useRunes}}
        <div>
            <label class="resource-label">{{localize 'QUESTWORLDS.dialog.runeOrRunes'}}<span class="fas fa-question-circle help" title="{{localize 'QUESTWORLDS.dialog.runesL'}}"></span></label>
            {{/if}}
            <input name="runes" type="{{#if settings.useRunes}}text{{else}}hidden{{/if}}" value="{{this.runes}}"/>
        {{#if settings.useRunes}}
        </div>
        {{/if}}
        <div class="flexrow">
            <div class="flexcol rating">
                <label class="resource-label">{{localize 'QUESTWORLDS.dialog.rating'}}</label>
                <div class="flexrow rating-inputs">
                    <input name="rating" id="breakout-rating" type="text" value="{{rating}}" data-dtype="Number"/>
                    <span>{{mastery}}</span>
                    <input name="masteries" type="text" value="{{masteries}}" data-dtype="Number"/>    
                </div>
            </div>
        </div>
    </div>
</div>