<div class="flexrow" style="margin-bottom: 12px;">
    <div style="flex-basis: min-content; flex-grow: 1; flex-shrink: 1;">
        <label class="resource-label">Name</label>
        <input name="name" id="breakout-name" type="text" value="{{name}}"/>
    </div>
    <div style="flex-basis: min-content; flex-grow: 0; flex-shrink: 0; margin-left: 8px;">
        <label class="resource-label">Bonus</label>
        <input name="data.rating" id="breakout-bonus" type="text" value="{{bonus}}" data-dtype="Number"/>
    </div>
</div>