<div class="flexrow">
    <div class="item-name">
        <h4>
            {{!-- <a class="rollable" data-roll-type="item"> --}}
            {{localize 'QUESTWORLDS.Sidekick'}}: <strong>{{item.name}}</strong>
            {{!-- </a> --}}
        </h4>
    </div>
    <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </div>
    
</div>
<div class="flexrow item-name sidekick-description">
    <h4>({{item.data.description}})</h4>
</div>