<div class="flexrow">
    <div class="item-name">
        <h4>
            <a class="rollable" data-roll-type="item">
                {{item.name}} {{fullRating item.data}}
                {{#if item.data.description}}({{item.data.description}}){{/if}}
            </a>
        </h4>
    </div>
    <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </div>
</div>

{{#if item.data.embeds}}
<ol class="breakouts-list">
    {{#each item.data.embeds as | breakout |}}
        {{> "systems/questworlds/templates/embeds/embed.html" breakout=breakout settings=../settings }}
    {{/each}}
</ol>
{{/if}}
