<ol class="items-list flaws-list">
  <li class="item flexrow items-header">
    <div class="item-name">{{localize 'QUESTWORLDS.Flaws'}}</div>
    <div class="item-controls">
      <a class="item-control item-create" data-type="flaw" title="{{localize 'QUESTWORLDS.AddFlaw'}}"><i class="fas fa-plus"></i></a>
    </div>
  </li>
  {{#each flaws as |item id|}}
    <li class="item" id="item-{{item._id}}" data-item-id="{{item._id}}">
      <div class="item-body flexrow">
        <div class="item-name">
          <h4>{{item.name}} {{fullRating item.data}} {{#if data.description}}({{data.description}}){{/if}}</h4>
        </div>
        <div class="item-controls menu">
          <a class="item-control item-edit" title="{{localize 'QUESTWORLDS.EditFlaw'}}"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="{{localize 'QUESTWORLDS.DeleteFlaw'}}"><i class="fas fa-trash"></i></a>
        </div>
      </div>
    </li>
  {{/each}}
</ol>