<li class="item keyword" id="item-{{item._id}}" data-item-id="{{item._id}}">
    <div class="item-body flexrow">
        <div class="item-name">
            <h4>
                <a class="rollable" data-roll-type="item">
                    {{~#if settings.useRunes}}{{rune item.data.rune}} {{/if~}}
                    <strong>{{item.name}} {{fullRating item.data}}</strong>
                    {{#if item.data.description}}({{data.description}}){{/if}}
                </a>
            </h4>
            </div>
        <div class="item-controls menu">
            <a class="item-control item-edit" title="{{localize 'QUESTWORLDS.EditKeyword'}}"><i class="fas fa-edit"></i></a>
            <a class="breakout-control" data-action="create" data-type="{{settings.keywordBreakout}}" title="{{localize 'QUESTWORLDS.AddBreakoutAbility'}}"><i class="fas fa-plus"></i></a>
            <a class="breakout-control" data-action="create" data-type="info" title="{{localize 'QUESTWORLDS.AddInfo'}}"><i class="fas fa-plus"></i></a>
            <a class="item-control item-delete" title="{{localize 'QUESTWORLDS.DeleteKeyword'}}"><i class="fas fa-trash"></i></a>
        </div>
    </div>

    {{#if item.data.embeds}}
    <ol class="breakouts-list">
        {{#each item.data.embeds as | breakout |}}
            {{> "systems/questworlds/templates/embeds/embed.html" breakout=breakout settings=../settings }}
        {{/each}}
    </ol>
    {{/if}}
</li>