<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">{{localize 'QUESTWORLDS.KeywordsAndAbilities'}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create item" data-type="ability"><i class="fas fa-plus" title="{{localize 'QUESTWORLDS.Add'}}"></i></a>
    </div>
  </li>
  {{#each abilities as |item id|}}
    <li class="item" data-item-id="{{item._id}}">
      {{> (whichItemPartial item.type item.data.variant) item=item}}
    </li>
  {{else}}
    <li></li>
  {{/each}}
</ol>