<form id="rune-settings" class="flexcol" autocomplete="off">

    <h2>Configure Fonts for Built-in Runes</h2>

    <p class="notes">
        A number of fonts offering support for Gloranthan Runes can be found online.
        These fonts use different letters for each Rune,
        and have a different selection of Runes.
    </p>
    <p class="notes">
        Upload font files here then choose which font and letter to use for each Rune.
        Leave a letter blank to use the next font for that Rune.
        Fonts are ordered left to right.
        Drag fonts to change their order.
    </p>
    <p class="notes">
        The official Glorantha Core Runes font can be found at
        <a href="https://wellofdaliath.chaosium.com/home/gloranthan-documents/glorantha-2/glorantha-core-rune-font/">
            Glorantha Core Rune Font 
        </a>
        on the The Well of Daliath.
    </p>
    <p class="notes">Number of installed fonts: {{fontCount}}.</p>
    {{!--
    <p>
        <a class="test" style="border: 1px solid black; padding: 1ex; margin: 1ex;"><i class="fas fa-test"></i> Test Button</a>
    </p>
    --}}

    <div id="built-in-runes">
        <input type="checkbox" name="fontupdate" style="display: none">
        <!-- font button -->
        <div class="table-controls">
            <label>
                <button type="button" class="font-file-picker" data-type="image" data-target="newfont.url" title="~Font Browser~" tabindex="-1">
                    <i class="fas fa-file-import fa-fw"></i>
                    ~Add Font~
                </button>
                <input type="hidden" name="newfont.url" data-dtype="String"/>
                <!-- <button class="file-picker" name="hello.file"><i class="fas fa-plus"></i> Add Font</button> -->
                <!-- (No fonts installed) [<i class="fas fa-plus"></i> Add Font Button?] -->
            </label>
        </div>
        <!-- header -->
        <header class="table-header"> <!-- flexrow? -->
            <label class="index">{{localize 'QUESTWORLDS.Rune'}}</label>
            <!-- List of fonts -->
            {{# each fonts as | font |}}
            <label>
                <div class="font-name">
                    {{font.name}}
                </div>
                <div>
                    <input type="hidden" name="fonts.{{@index}}.name" value="{{font.name}}" data-dtype="String"/>
                    <label for="fonts.{{@index}}.scale">~Size~</label>
                    <input class="font-scale" type="number" name="fonts.{{@index}}.scale" value="
                    {{~#if font.scale~}}
                    {{~font.scale~}}
                    {{~else~}}
                    100
                    {{~/if~}}
                    " min="50" max="200" step="1" data-dtype="Number" readonly>
                </div>
                <div class="font-controls">
                    <a class="font-control" data-action="delete" data-target="fonts.{{@index}}.url" title="~Delete Font~">
                        <i class="fas fa-trash"></i>
                    </a>
                    <input type="hidden" name="fonts.{{@index}}.url" value="{{font.url}}" data-dtype="String"/>
                </div>
            </label>
            {{/each}}
        </header>
        <ul style="padding-left: 0;">
            <!-- List of Runes -->
            {{#each runes as | rune |}}
            <li class="form-group">
                <label class="index" for="{{rune.token}}" class="resource-label">
                    {{#if (ne rune.render.class 'rune-token')}}
                    <span class="{{rune.render.class}}">{{rune.render.text}}</span>
                    {{/if}}
                    {{localize rune.name}}
                    <input type="hidden" name="runes.{{rune.token}}.name" value="{{rune.name}}" data-dtype="String"/>
                    <input type="hidden" name="runes.{{rune.token}}.token" value="{{rune.token}}" data-dtype="String"/>
                    <p class="hint rune-token" style="font-family: 'Courier New'; background-color: lightgrey;">[[{{rune.token}}]]</p>
                </label>
                {{#each rune.fonts as | symbol |}}
                {{#if (lt @key ../../fontCount)}}
                <div class="form-fields">
                    <input type="
                        {{~#if (lt @key ../../fontCount)}}text{{else}}hidden{{/if~}}
                        " name="runes.{{rune.token}}.fonts.{{@key}}" value="{{symbol}}" data-dtype="String" style="flex: 1; width: 1.5em; height: 1.5em; text-align: center;" />
                    {{#if (lt @key ../../fontCount)}}
                    <span class="rune-font{{@key}}" title="{{localize rune.name}}">{{symbol}}</span>
                    {{/if}}
                    {{#if (eq ../../fontCount 0)}}
                    <input type="text" disabled style="width: 1.5em; height: 1.5em; text-align: center;"/>
                    {{/if}}
                </div>
                {{/if}}
                {{/each}}
            </li>
            {{/each}}
        </ul>
    </div>

    <h2>Custom Runes</h2>
    <p class="notes">
        Add custom runes here. Each rune needs a display name, a token to refer to it, and a image file.
    </p>
    <header class="table-header flexrow">
        <label class="index">{{localize 'QUESTWORLDS.Rune'}}</label>
        <label>{{localize 'QUESTWORLDS.Token'}}</label>
        <label>{{localize 'QUESTWORLDS.ImageFile'}}</label>
    </header>
    {{#each customrunes as | rune |}}
        {{rune.name}} {{rune.token}} {{rune.file}}        
    {{else}}
        [blank]
        [blank]
        [blank]
        Add custom rune? [Button!]
    {{/each}}

    <div style="border-top: 1px solid darkgrey;">
        Footer
    </div>

</form>