<form class="chat-contest {{cssClass}}" autocomplete="off"> {{log this}}
    {{#unless closed}}
    <div>
        {{name}} {{type}}
    </div>
    <div>
        Rating: {{tactic.rating}},
        Masteries: {{tactic.masteries}}
        <!-- <input name="tactic.rating" type="hidden" value="{{tactic.rating}}" data-dtype="Number"> -->
        <!-- <input name="tactic.masteries" type="hidden" value="{{tactic.masteries}}" data-dtype="Number"> -->
    </div>
    <div>
        <label>Benefits or Consequences</label>
        <ol>
        {{#each benefits}}
            <li><input type="checkbox" name="benefitsSelected.{{_id}}" {{checked benefitsSelected._id}}> {{name}} {{formatRating data.rating data.masteries modifier="true"}}</li>
        {{/each}}
        </ol>
    </div>
    <div>
        <label>Situational Modifier</label>
        <input name="situationalModifiers" type="number" value="{{situationalModifiers}}" data-dtype="Number">
    </div>
    <div class="difficulty">
        <label>Difficulty</label>
        <select name="difficultyLevel">
            {{selectOptions settings.difficultyLevels selected=difficultyLevel localize=false}} <!-- ~localize~ -->
        </select>

        <label>Resistance</label>
        <label>Rating</label>
        <input name="resistance.rating" type="number" min="-20" max="20" value="{{resistance.rating}}" data-dtype="Number">
        <label>Masteries</label>
        <input name="resistance.masteries" type="number" min="0" value="{{resistance.masteries}}" data-dtype="Number">
    </div>
    <div>
        <strong>
            {{formatRating total.rating total.masteries}} vs {{formatRating resistance.rating resistance.masteries}}
        </strong>
        <input name="total.rating" type="hidden" value="{{total.rating}}" data-dtype="Number">
        <input name="total.masteries" type="hidden" value="{{total.masteries}}" data-dtype="Number">
    </div>
    {{/unless}}
    <div>
        <button name="over" tabindex="-1">{{localize 'QUESTWORLDS.chatcontest.Ready'}}</button>
        <button name="approve" tabindex="-1">{{localize 'QUESTWORLDS.chatcontest.ApproveRoll'}}</button>
        <button name="roll" tabindex="-1">{{localize 'QUESTWORLDS.chatcontest.Roll'}}</button>
    </div>
    {{#if closed}}
    <div class="dice-results">
        <div class="ratings-faceoff flexrow">
            <span class="rating">
                {{localize 'QUESTWORLDS.chatcontest.Tactic'}}
                <strong>
                    {{formatRating total.rating total.masteries}}
                </strong>
            </span>
            <span class="divider"><span class="vs"></span></span>
            <span class="rating">
                {{localize 'QUESTWORLDS.chatcontest.Difficulty'}}
                <strong>
                    {{formatRating resistance.rating resistance.masteries}}
                </strong>
            </span>
        </div>
        <div class="dice-faceoff flexrow">
            <span class="contestant flexcol">
                <div class="roll
                    {{~#if (eq pcResult total.rating)}} crit{{/if~}}
                    {{~#if (gt pcResult total.rating)}} miss{{/if~}}
                    ">
                    {{~pcResult~}}
                </div>
                <div class="successes">
                    <div>
                        {{~pcSuccesses}}  {{plural pcSuccesses 'Success' 'Successes'~}}
                    </div>
                </div>
            </span>
            <span class="divider">
                <span class="vs">VS</span>
            </span>
            <span class="contestant flexcol">
                <div class="roll
                {{~#if (eq resResult resistance.rating)}} crit{{/if~}}
                {{~#if (gt resResult resistance.rating)}} miss{{/if~}}
                ">
                    {{~resResult~}}
                </div>
                <div class="successes">
                    <div>
                        {{~resSuccesses}} {{plural resSuccesses 'Success' 'Successes'~}}
                    </div>
                </div>
            </span>
        </div>
        <div class="outcome {{outcome.cssClass}}">
            {{outcome.text}}
        </div>
    </div>
    {{/if}}
</form>