<form class="chat-contest {{cssClasses}}" autocomplete="off">
    <div>
        {{name}} {{type}}
    </div>
    <div>
        Rating: {{rating}},
        Masteries: {{masteries}}
    </div>
    <div>
        <label>Benefits or Consequences</label>
        <input name="benefits" placeholder="replace me">
        <ol>
        {{#each benefits}}
            <li>{{name}} {{data.rating}} {{data.masteries}}</li>
        {{/each}}
        </ol>
    </div>
    <div>
        <button disabled name="ready">Ready?</button>
    </div>
</form>