<form class="chat-contest {{cssClass}}" autocomplete="off"> {{log this}}
    {{#unless closed}}
    <!-- <div> -->
        <!-- {{name}} {{type}} -->
    <!-- </div> -->
    <div class="tactic">
        <div class="header">
            <span class="title">
                Rating
            </span>
            {{formatRating total.rating total.masteries}}
            <!-- Rating: {{tactic.rating}}, -->
            <!-- Masteries: {{tactic.masteries}} -->
            <!-- <input name="tactic.rating" type="hidden" value="{{tactic.rating}}" data-dtype="Number"> -->
            <!-- <input name="tactic.masteries" type="hidden" value="{{tactic.masteries}}" data-dtype="Number"> -->
        </div>
        <div class="options">
            <!-- <hr> -->
            {{#if benefits}}
            <div class="benefits">
                <label>Benefits or Consequences</label>
                <ol>
                {{#each benefits}}
                    <li class="{{variant}} {{#if checked}}active{{/if}}">
                        <i class="{{#if checked}}fas fa-check-circle{{else}}far fa-circle{{/if}}"></i>
                        <label for="msg-{{../chatId}}-benefit-{{id}}">
                            {{name}} <strong></strong>{{formatRating data.rating data.masteries modifier="true"}}</strong>
                        </label>
                        <input id="msg-{{../chatId}}-benefit-{{id}}" type="checkbox" name="benefits.{{@key}}.checked" data-dtype="Boolean" {{checked checked}}>
                        
                    </li>
                {{/each}}
                </ol>
            </div>
            {{/if}}
            <div class="flexrow situational-modifiers">
                <label class="flex0 nowrap">Situational Modifiers</label>
                <input name="situationalModifiers" type="number" value="{{situationalModifiers}}" data-dtype="Number">
            </div>
        </div>    
    </div>
    <div class="difficulty">
        <div class="header">
            <div class="vs">vs</div>
            <div>
                <span class="title">
                    Difficulty
                </span>
                {{formatRating resistance.rating resistance.masteries}}
            </div>
        </div>
        <div class="options">
            <!-- <hr> -->
            <div class="difficulty-level">
                <label>Difficulty Level</label>
                <select name="difficultyLevel">
                    <optgroup label="Base difficulty: {{formatRating baseDifficulty.rating baseDifficulty.masteries useRunes="false"}}">
                        {{selectOptions settings.difficultyLevels selected=difficultyLevel localize=false}} <!-- ~localize~ -->
                    </optgroup>
                </select>
            </div>
        </div>
    </div>
    {{/unless}}
    <div class="buttons">
        <button name="over" tabindex="-1">{{localize 'QUESTWORLDS.chatcontest.Ready'}}</button>
        <button name="approve" tabindex="-1">{{localize 'QUESTWORLDS.chatcontest.ApproveRoll'}}</button>
        <button name="roll" tabindex="-1">{{localize 'QUESTWORLDS.chatcontest.Roll'}}</button>
    </div>
    {{#if closed}}
    <div class="dice-results">
        <div class="ratings-faceoff flexrow">
            <span class="rating">
                {{localize 'QUESTWORLDS.chatcontest.Tactic'}}
                <strong>
                    {{formatRating total.rating total.masteries}}
                </strong>
            </span>
            <span class="divider"><span class="vs"></span></span>
            <span class="rating">
                {{localize 'QUESTWORLDS.chatcontest.Difficulty'}}
                <strong>
                    {{formatRating resistance.rating resistance.masteries}}
                </strong>
            </span>
        </div>
        <div class="dice-faceoff flexrow">
            <span class="contestant flexcol">
                <div class="roll
                    {{~#if (eq pcResult total.rating)}} crit{{/if~}}
                    {{~#if (gt pcResult total.rating)}} miss{{/if~}}
                    ">
                    {{~pcResult~}}
                </div>
                <div class="successes">
                    <div>
                        {{~pcSuccesses}}  {{plural pcSuccesses 'Success' 'Successes'~}}
                    </div>
                </div>
            </span>
            <span class="divider">
                <span class="vs">VS</span>
            </span>
            <span class="contestant flexcol">
                <div class="roll
                {{~#if (eq resResult resistance.rating)}} crit{{/if~}}
                {{~#if (gt resResult resistance.rating)}} miss{{/if~}}
                ">
                    {{~resResult~}}
                </div>
                <div class="successes">
                    <div>
                        {{~resSuccesses}} {{plural resSuccesses 'Success' 'Successes'~}}
                    </div>
                </div>
            </span>
        </div>
        <div class="outcome {{outcome.cssClass}}">
            {{outcome.text}}
        </div>
        {{#if settings.useClassicOutcomes}}
        <div class="outcome-degrees">
            {{#if outcome.tie~}}
            ⁓
            {{~else~}}
            {{outcome.degreesText}}
            {{~/if}}
        </div>
        {{/if}}
        {{#if outcome.defeat}}
        <div class="benefits-lost flexrow">
            <div class="flex0 alert">
                <i class="icon fas fa-exclamation-circle"></i>
            </div>
            <div class="flex1">
                <span class="title">Benefits Lost</span>
                {{#each benefits as |benefit|}}
                    {{#if (and benefit.checked (eq benefit.variant 'benefit') ) }}
                        <span class="lost-benefit">{{benefit.name}}</span>
                    {{/if}}
                {{/each}}    
            </div>
        </div>
        {{/if}}
    </div>
    {{/if}}
</form>