<label class="resource-label" autocapitalize="words">Ability Type</label>
<select name="data.variant">
  <optgroup label="{{localize 'QUESTWORLDS.KeywordsAndAbilities'}}"">
    <option value="ability" {{#if (iseq data.variant 'ability')}}selected{{/if}}>{{localize 'QUESTWORLDS.Ability'}}</option>
    <option value="keyword" {{#if (iseq data.variant 'keyword')}}selected{{/if}}>{{localize 'QUESTWORLDS.Keyword'}}</option>
    <option value="sidekick" {{#if (iseq data.variant 'sidekick')}}selected{{/if}}>{{localize (concat 'QUESTWORLDS.' settings.sidekickName)}}</option>
  </optgroup>
  <optgroup label="{{localize 'QUESTWORLDS.Groups'}}">
    <option value="magicgroup" {{#if (iseq data.variant 'magicgroup')}}selected{{/if}}>{{localize 'QUESTWORLDS.MagicGroup'}}</option>
  </optgroup>
</select>
