<div class="rating-inputs">
    <label class="resource-label">Rating:</label>
    <div class="flexrow">
      <span class="rating">
        <input name="data.rating" type="text" value="{{data.rating}}" data-dtype="Number" placeholder="0"/>
      </span>
      <span class="mastery-symbol"><strong>{{masterySymbol}}</strong></span>
      <span class="mastery">
        <input name="data.masteries" type="text" value="{{data.masteries}}" data-dtype="Number" placeholder="0"/>
      </span>
    </div>
  </div>
