<form class="{{cssClass}}" autocomplete="off"> {{log this}}
  <header class="sheet-header">
    <img class="" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <div class="ability-variant">
        {{capitalize item.variant}}
      </div>
      <h1>
        <span class="nowrap">
          <input name="name" type="text" class="resizing" value="{{item.name}}" placeholder="Name"/>
          {{fullRating data}}
        </span>
        <span class="nowrap">
          {{#if data.description}}({{else}}<span class="placeholder">(</span>{{/if~}}
          <input name="data.description" type="text" class="resizing" value="{{data.description}}" data-dtype="String"/>
          {{~#if data.description}}){{else}}<span class="placeholder">)</span>{{/if~}}
        </span>

        <span class="hidden-sizer"></span>
      </h1>
    </div>
  </header>


  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{>"systems/questworlds/templates/item/parts/item-rating-inputs.html"}}

  </section>
</form>
