{{!-- This template is a fallback for when items don't have more specific templates. --}}
{{!-- Generally, you'll want to make more specific templates when possible. --}}
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <div style="text-transform: capitalize; font-variant: small-caps; font-weight:bold;">{{localize (concat 'QUESTWORLDS.' item.type) }}</div>
      <h3 class="charname">{{item.name}} {{fullRating data}} {{#if data.description}}({{/if}}{{data.description}}{{#if data.description}}){{/if}}</h3>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="details">Details</a>
    <a class="item" data-tab="settings">Settings</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">


    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="details">
      <label class="resource-label">Name</label>
      <input name="name" type="text" value="{{item.name}}" placeholder=""/>
      <label class="resource-label">Rating</label>
      <input name="data.rating" type="text" value="{{data.rating}}" data-dtype="Number"/>
      <label class="resource-label">Masteries</label>
      <input name="data.masteries" type="text" value="{{data.masteries}}" data-dtype="Number"/>
      <label class="resource-label">Description</label>
      <input name="data.description" type="text" value="{{data.description}}" data-dtype="String"/>
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="settings">
      {{!-- As you add new fields, add them in here! --}}
    </div>
  </section>
</form>
