{{!-- This template is a fallback for when items don't have more specific templates. --}}
{{!-- Generally, you'll want to make more specific templates when possible. --}}
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <div style="font-variant: small-caps; font-weight:bold;">{{localize 'QUESTWORLDS.Keyword'}}</div>
      <h3 class="charname">
        {{#if settings.useRunes}}{{runes data.rune}}{{/if}}
        {{item.name}} {{fullRating data}}
        {{#if data.description}}({{data.description}}){{/if}}
      </h3>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="details">Details</a>
    <a class="item" data-tab="settings">Settings</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">


    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="details">
      {{#if settings.useRunes}}
      <label class="resource-label">Rune</label>
      <span class="{{runes}}">
        <input name="data.rune" type="text" value="{{data.rune}}" placeholder="R"/>
      </span>
      {{/if}}
      <label class="resource-label">Name</label>
      <input name="name" type="text" value="{{item.name}}" placeholder=""/>
      <label class="resource-label">Description</label>
      <input name="data.description" type="text" value="{{data.description}}" data-dtype="String"/>
      <div class="flexrow">
        <div>
          <label class="resource-label">Rating</label>
          <input name="data.rating" type="text" value="{{data.rating}}" data-dtype="Number"/>
        </div>
        <div>
          <label class="resource-label">Masteries</label>
          <input name="data.masteries" type="text" value="{{data.masteries}}" data-dtype="Number"/>
        </div>
      </div>
      {{!-- list of breakouts --}}
      <div style="margin-top: 0.6em;">
        <ol class="items-list breakouts-list">
          <li class="item flexrow items-header">
            <div class="item-name">{{localize 'QUESTWORLDS.BreakoutAbilities'}}</div>
            <div class="breakout-controls" id="menu-{{item.id}}">
              <a class="breakout-control breakout-create" data-action="create" data-type="breakout" data-parent-id="{{breakout.id}}" title="{{localize 'QUESTWORLDS.BreakoutAbility'}}"><i class="fas fa-plus"></i></a>
              <a class="breakout-control breakout-create" data-action="create" data-type="info" data-parent-id="{{breakout.id}}" title="{{localize 'QUESTWORLDS.AddInfo'}}"><i class="fas fa-plus"></i></a>
              <a class="context-menu"><i class="fas fa-ellipsis-h"></i></a>
            </div>
          </li>
          {{#each data.embeds as | breakout |}}
          {{> "systems/questworlds/templates/embeds/embed.html" breakout=breakout settings=../settings }}
          {{else}}
          <li></li>
          {{/each}}
        </ol>
      </div>
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="settings">
      {{!-- As you add new fields, add them in here! --}}
      {{> "systems/questworlds/templates/item/parts/item-ability-settings.html"}}
        <label class="resource-label">Runes</label>
        <span class="runes">
          <input name="foo" type="text" value="" placeholder="boyB"/>
        </span>
      </div>
  </section>
</form>
