<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      {{> "systems/questworlds/templates/item/parts/item-ability-settings.html"}}
      <h1>
        <span class="nowrap">
          {{#if settings.useRunes}}{{rune data.rune}}{{/if}}
          <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
          {{fullRating data}}
        </span>
        <span class="nowrap">
          {{#if data.description}}({{else}}<span class="placeholder">(</span>{{/if~}}
          <input name="data.description" type="text" value="{{data.description}}" data-dtype="String"/>
          {{~#if data.description}}){{else}}<span class="placeholder">)</span>{{/if~}}
        </span>

        <span class="hidden-sizer"></span>
      </h1>
    </div>
  </header>


  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <div>
      {{#if settings.useRunes}}
      <label class="resource-label">Rune</label>
      {{> "systems/questworlds/templates/item/parts/item-rune-picker.html" }}
      {{/if}}
    </div>
    {{>"systems/questworlds/templates/item/parts/item-rating-inputs.html"}}

    {{!-- list of breakouts --}}
    <div class="abilities">
      <ol class="items-list breakouts-list">
        <li class="item flexrow items-header">
          <div class="item-name">{{localize 'QUESTWORLDS.BreakoutAbilities'}}</div>
          <div class="breakout-controls">
            <a class="breakout-control" title="{{localize 'QUESTWORLDS.AddInfo'}}" data-action="create" data-type="info"><i class="fas fa-plus"></i></a>
          </div>
        </li>
        {{#each data.embeds as | breakout |}}
        {{> "systems/questworlds/templates/embeds/embed.html" breakout=breakout settings=../settings }}
        {{/each}}
      </ol>
    </div>

  </section>
</form>
