<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <div style="text-transform: capitalize; font-variant: small-caps; font-weight:bold;">{{localize (concat 'QUESTWORLDS.' item.type) }}</div>
      <h3 class="charname"><strong>{{item.name}}</strong></h3>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="details">Details</a>
    <a class="item" data-tab="settings">Settings</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">


    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="details">
      <label class="resource-label">Name</label>
      <input name="name" type="text" value="{{item.name}}" placeholder=""/>
      <label class="resource-label">Description</label>
      <input name="data.description" type="text" value="{{data.description}}" data-dtype="String"/>

      {{!-- list of abilities --}}
      <div style="margin-top: 0.6em;">
        <ol class="items-list abilities-list">
          <li class="item flexrow items-header abilities-header">
            <div class="item-name ability-name">{{localize 'QUESTWORLDS.KeywordsAndAbilities'}}</div>
            <div class="item-controls ability-controls">
              <a class="ability-control ability-create item-control item-create" title="Create item" data-type="ability"><i class="fas fa-plus"></i></a>
            </div>
          </li>
          {{#each abilities as |ability index|}}
          <li class="item ability" data-ability-id="{{ability.id}}">
            <div class="flexrow">
              <div class="ability-name">
                  <h4>
                      <a class="rollable" data-roll-type="ability">
                        {{#if ability.breakouts}}<strong>{{/if~}}
                        {{ability.name}}
                        {{~#if ability.breakouts}}</strong>{{/if}}
                        {{ability.rating}} {{ability.masteries}}
                      </a>
                  </h4>
              </div>
              <div class="ability-controls">
                  <a class="ability-control ability-edit" data-action="edit" data-ability-id="{{ability.id}}" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="ability-control ability-delete" data-action="delete" data-ability-id="{{ability.id}}" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </div>
            {{#if ability.breakouts}}
            <ol class="breakouts-list">
                {{#each ability.breakouts as | breakout |}}
                <li class="breakout" data-breakout-id="{{breakout.id}}">
                    <div class="flexrow">
                    <div class="breakout-name">
                        <h4>
                            <a class="rollable" data-roll-type="item" data-keyword-id="{{ability.id}}" data-breakout-id="{{breakout.id}}">
                                {{breakout.name}} +{{breakout.bonus}}
                            </a>
                        </h4>
                        </div>
                    <div class="breakout-controls">
                        <a class="breakout-control breakout-edit" data-action="edit" data-breakout-id="{{breakout.id}}" title="Edit Breakout"><i class="fas fa-edit"></i></a>
                        <a class="breakout-control breakout-delete" data-action="delete" data-breakout-id="{{breakout.id}}" title="Delete Breakout"><i class="fas fa-trash"></i></a>
                    </div>
                    </div>
                </li>
                {{/each}}
            </ol>
            {{/if}}
          </li>
          {{else}}
          <li></li>
          {{/each}}
        </ol>
      </div>

    </div>


    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="settings">
      {{!-- As you add new fields, add them in here! --}}
    </div>
  </section>
</form>
