<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      {{> "systems/questworlds/templates/item/parts/item-ability-settings.html"}}
      <h1>
        <span class="nowrap">
          <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
        </span>
        <span class="nowrap">
          {{#if system.description}}({{else}}<span class="placeholder">(</span>{{/if~}}
          <input name="system.description" type="text" class="resizing" value="{{system.description}}" data-dtype="String"/>
          {{~#if system.description}}){{else}}<span class="placeholder">)</span>{{/if~}}
        </span>

        <span class="hidden-sizer"></span>
      </h1>
    </div>
  </header>


  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- list of abilities --}}
    <div class="abilities">
      <ol class="items-list breakouts-list">

        {{#> "systems/questworlds/templates/item/parts/item-breakouts-header.html" name='QUESTWORLDS.KeywordsAndAbilities'}}
          <a class="breakout-control" title="{{localize 'QUESTWORLDS.Ability'}}" data-action="create" data-type="ability"><i class="far fa-star"></i></a>
          <a class="breakout-control" title="{{localize 'QUESTWORLDS.Keyword'}}" data-action="create" data-type="keyword"><i class="fas fa-star"></i></a>
          <a class="breakout-control" title="{{localize 'QUESTWORLDS.Info'}}" data-action="create" data-type="info"><i class="fas fa-info-circle"></i></a>
          <!-- <a class="breakout-control" title="{{localize 'QUESTWORLDS.BreakoutAbility'}}" data-action="create" data-type="breakout"><i class="fas fa-share fa-flip-vertical"></i></a> -->
        {{/"systems/questworlds/templates/item/parts/item-breakouts-header.html"}}

        {{#each system.embeds as |breakout index|}}
          {{> "systems/questworlds/templates/embeds/embed.html" breakout=breakout settings=../settings }}
        {{/each}}
      </ol>
    </div>
  </section>
</form>
